body {
  font-family: Tahoma, Arial, sans-serif;
  margin: 0; 
  padding: 8px; 
}

@font-face {
  font-family: 'Thuluth';
  src: url('fonts/thuluth.ttf') format('truetype');
}

/* كل صف */
.row {
  display: grid;
  gap: 5px;            /* المسافة بين الخلايا داخل الصف */
  margin-bottom: 5px;  /* مسافة فاصلة بين الصف واللي بعده */
}

/* خصائص عامة للخلايا */
.cell {
  background: WHITE;
  color: white;
  font-weight: bold;
  text-align: center;
  border-radius: 8px;
  border: 2px solid #ccc;
  display: flex;
  justify-content: center; /* توسيط أفقي */
  align-items: center;     /* توسيط عمودي */
}

.الصف_صفر .cell {
  min-height: 20px;
  background: white;
  color: blue;
}
.الصف_صفر .cell:nth-child(1) {
background: repeating-linear-gradient(
    to bottom,
    #90ee90,
    lightgreen 2px,
    white 2px,
    white 4px
  );
  color: green;
}
.الصف_صفر .cell:nth-child(2) {
background: repeating-linear-gradient(
    to right,       /* اتجاه التدرج من اليمين لليسار */
    silver,        /* اللون الأخضر الفاتح كبداية */
    white 2px,      /* بعد 2px يتحول للأبيض */
    white 2px,      /* تكرار الأبيض عند نفس النقطة */
    white 4px       /* بعد 4px يرجع للأبيض ثم يعيد النمط */
  );
  color: blue;
}
.الصف_الأول .cell:nth-child(1) {
  min-height: 170px;
  min-width: 50px;
  direction: rtl;
  background: repeating-linear-gradient(
    to bottom,
    #90ee90,
    lightgreen 2px,
    white 2px,
    white 4px
  );
  color: green;
}


.الصف_الأول .cell:nth-child(2) {
  direction: rtl;
  FONT-SIZE: 90PX;
  font-family: 'Thuluth', sans-serif;
  background: repeating-linear-gradient(
    to bottom,
    #90ee90,
    lightgreen 2px,
    white 2px,
    white 4px
  );
  color: green;
}

.الصف_الأول .cell:nth-child(3) {
  direction: rtl; /* اتجاه النص من اليمين لليسار */
  background: repeating-linear-gradient(
    to right,       /* اتجاه التدرج من اليمين لليسار */
    silver,        /* اللون الأخضر الفاتح كبداية */
    white 2px,      /* بعد 2px يتحول للأبيض */
    white 2px,      /* تكرار الأبيض عند نفس النقطة */
    white 4px       /* بعد 4px يرجع للأبيض ثم يعيد النمط */
  );
  color: blue;      /* لون النص أزرق */
}


.الصف_الأول .cell.year {
  writing-mode: vertical-rl;   /* يخلي النص عمودي */
  transform: rotate(-180deg);   /* لتدوير النص */
  text-align: center;          /* توسيط أفقي */
  vertical-align: middle;      /* توسيط عمودي */
  white-space: normal;         /* يسمح بالتفاف النص */
}


.الصف_الثاني .cell {
  min-height: 30px;
  FONT-SIZE: 20PX;
  color: blue;
}
.الصف_الثاني .cell:nth-child(1) {
background: repeating-linear-gradient(
    to bottom,
    #90ee90,
    lightgreen 2px,
    white 2px,
    white 4px
  );
  color: green;
}
.الصف_الثاني .cell:nth-child(2) {
background: repeating-linear-gradient(
    to right,       /* اتجاه التدرج من اليمين لليسار */
    silver,        /* اللون الفضي الفاتح كبداية */
    white 2px,      /* بعد 2px يتحول للأبيض */
    white 2px,      /* تكرار الأبيض عند نفس النقطة */
    white 4px       /* بعد 4px يرجع للأبيض ثم يعيد النمط */
  );
  color: blue;
}
.الصف_الثالث .cell {
  min-height: 80px;
  min-width: 50px;
  background: yellow;
  color: blue;
  FONT-SIZE: 40PX;
}
.الصف_الثالث .cell:nth-child(1) {
 background: repeating-linear-gradient(
    to bottom,
    #90ee90,
    lightgreen 2px,
    white 2px,
    white 4px
  );
  color: green;
}
.الصف_الثالث .cell:nth-child(2) {
 background: repeating-linear-gradient(
   to right,       /* اتجاه التدرج من اليمين لليسار */
    silver,        /* اللون الفضي الفاتح كبداية */
    white 2px,      /* بعد 2px يتحول للأبيض */
    white 2px,      /* تكرار الأبيض عند نفس النقطة */
    white 4px       /* بعد 4px يرجع للأبيض ثم يعيد النمط */
  );
  color: blue;
}
.الصف_الرابع .cell {
  min-height: 50px;
  min-width: 50px;
  background: white;
  color: silver;
  gap: 0px;            /* المسافة بين الخلايا داخل الصف */
  border-radius: 0px;   /* الغاء التفاف الزوايا */
  border-left: none; /* إلغاء الحافة اليسرى */
  border-right: none; /* إلغاء الحافة اليمنى */
}

.الصف_الرابع .cell:nth-child(1) {
  color: darkblue;
}
.عناوين_الصف_الخامس .cell {
  min-height: 20px;
  
  background: yellow;
  color: blue;
}

.الصف_الخامس .cell {
  min-height: 80px;
  FONT-SIZE: 40PX;
  background: selver;
  color: silver;
}
.عناوين_الصف_السادس .cell {
  min-height: 20px;
  
  background: yellow;
  color: blue;
}

.الصف_السادس .cell {
  min-height: 80px;
  FONT-SIZE: 40PX;
  background: selver;
  color: silver;
}

.عناوين_الصف_الخامس,
.عناوين_الصف_السادس {
  margin-bottom: 0.5px; /* مسافة فاصلة بين الصف واللي بعده */
}

.الصف_الرابع {
  gap: 0px;       /* مسافة بين الخلايا داخل الشبكة */
  padding: 0px;   /* يلغي أي مسافة داخلية */
}


/* توزيع الأعمدة */
.row-3 { grid-template-columns: 1fr 1fr 1fr; }
.row-2 { grid-template-columns: 1fr 1fr; }
.row-1 { grid-template-columns: 1fr; }
.الصف_الأول {grid-template-columns:  1fr 12fr 1fr; }